.list {
    max-width: 950px;
    margin: 0 auto;
    width: 80%;
    min-height: 100vh;
    columns: 200px auto;
    column-gap: 20px;
    padding-top: 100px;
    box-sizing: border-box;
}

ul{
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

li {
    padding: 2px;
}

ul li a {
    text-decoration: none;
    color: #545454;
    font-size: 20px;
}

ul li a:hover {
    color: #000000;
}
a {
  outline: none;
}